#gobbler{
 -fx-background-image: url("../Pictures/green_gobbler.png");
}

#scrollPCenter{
    -fx-background-image: url("sample/Pictures/footer_lodyas.png");
}

#mainlabel{
	-fx-font-family: 'Times New Roman';
    -fx-text-fill: rgb(0,255,84,0.8);
}


#subline{
	-fx-font-size:10px;
}