/*
######################################
#Stylesheet Projekt Cinderella       #
#Owner: Eric and Felix Brandt        #
#Last modified: 27.10.2015           #
######################################

*/
/*additional imports*/



/*import for every View*/
@import url("LoginView.css");
@import url("EntityView.css");
@import url("MainView.css");
@import url("SchedEventView.css");

/*For all*/

.content{
    -fx-background-color: #2B3335;
}

.button{
    -fx-background-color: #2B3335;
    -fx-border-color:white;
    -fx-border-width:5px;
    -fx-font-size: 20px;
    -fx-font-family: 'Arial';
    -fx-text-fill: white;
}

.buttonHover{
        -fx-background-color: #2B3335;
        -fx-border-color:grey;
        -fx-text-fill: white;
        -fx-font-size: 20px;
        -fx-font-family: 'Arial';
}

.buttonClicked{
    -fx-background-color: white;
    -fx-border-color:white;
    -fx-text-fill: #2B3335;
    -fx-font-size: 20px;
    -fx-font-family: 'Arial';
}
