#rootSchedEvent{
	  -fx-background-color: #2B3335;	
}

.button{
    -fx-background-color: #2B3335;
    -fx-border-color:white;
    -fx-border-width:5px;
    -fx-font-size: 20px;
    -fx-font-family: 'Arial';
    -fx-text-fill: white;
}

.label{
	-fx-text-fill: #556b2F;
}



